DATABASE_URL="mysql://focused:focused@127.0.0.1:3306/focused_dev"
DATABASE_USER="focused"
DATABASE_PASSWORD="focused"
DATABASE_NAME="focused_dev"
DATABASE_HOST="127.0.0.1"
DATABASE_PORT=3306
LOCAL=true
PORT=4000
ALLOWED_ORIGINS=localhost:3000